
/*!
 * color codes
 */
$bc-color-1: #008000;		// bright blue
$bc-color-2: #000;			// dark blue
$bc-color-3: #8e8e8e;		// grey
$bc-color-4: #f0f4f7;		// glacier blue
$bc-color-5: #ccc;			// grey lighter than C3

$ft-thin: Verdana;
$ft-norm: Verdana;
$ft-bold: Verdana;
