
.combined-picker {
	position: relative;
	width: 250px;
	background: #fff;
	box-shadow: 0 0 5px #8f8f8e;
	-webkit-box-shadow: 0 0 5px #ccc;
	-moz-box-shadow: 0 0 5px #ccc;

	& > .picker-container {
		& > .picker-footer {
			& > .current-date {
				display: inline-block;
				height: 30px;
				margin-top: 15px;
				margin-left: 15px;
				color: #8f8f8e;
				font-size: 12px;
				cursor: pointer;
      }

			& > .cancel {
				display: inline-block;
				height: 30px;
				margin-top: 15px;
				margin-right: 20px;
				float: right;
				color: #8f8f8e;
				font-size: 12px;
				cursor: pointer;
      }

			& > .ok {
				display: inline-block;
				height: 30px;
				margin-top: 15px;
				margin-right: 20px;
				float: right;
				color: #8f8f8e;
				font-size: 12px;
				cursor: pointer;
      }
    }
  }
}
