
.paper-date-picker {
	width: $ept-width;

	& > .calendar-container {
		width: 100%;

		& > .header-container {
			display: inline-block;
			width: 100%;
			padding: 14px 30px;
			background-color: $ept-color-7;
			box-sizing: border-box;

			& > div {
				display: inline-block;
				width: 100%;

				& > div {
					display: inline-block;
					padding: 0 10px 0 0;
					float: left;
					color: $ept-color-4;
					font-size: 34px;
					font-weight: normal;
					line-height: 40px;
					text-align: left;
				}

				&.year-container {
					& > div {
						padding: 0;
						color: $ept-color-4-1;
						font-size: 16px;
						font-weight: lighter;
						line-height: 24px;
					}
				}
			}
    }

		& > .calendar-body {
			display: inline-block;
			width: 100%;
			padding: 10px 5px;
			box-sizing: border-box;

			& > .header {
				display: inline-block;
				width: 100%;
				padding: 4px 25px;
				text-align: center;
				box-sizing: border-box;

				& > div {
					display: inline-block;
					width: 7px;
					height: 7px;
					margin: 10px 0 0;
					font-size: 14px;
					text-align: center;

					&.month-year {
						width: 150px;
						height: 30px;
						margin: 0;
						color: $ept-color-6-1;
						font-weight: normal;
						line-height: 30px;
					}

					&.add-month {
						float: right;
						transform: rotate(45deg);
						border: 2px solid $ept-color-6-1;
						border-bottom-color: transparent;
						border-left-color: transparent;
						cursor: pointer;
					}

					&.subtract-month {
						float: left;
						transform: rotate(45deg);
						border: 2px solid $ept-color-6-1;
						border-top-color: transparent;
						border-right-color: transparent;
						cursor: pointer;
					}
				}
      }

			& > table {
				&.calendar {
					width: 100%;
					font-size: 14px;
					font-weight: lighter;
					line-height: 40px;
					text-align: center;

					& > tr {
						color: $ept-color-6-2;
						font-weight: inherit;

						& > th {
							font-weight: inherit;
							line-height: 40px;
						}

						& > td {
							color: $ept-color-6-1;
							font-weight: inherit;
							cursor: pointer;
							vertical-align: middle;

							& > span {
								display: inline-block;
								width: 40px;
								height: 40px;
								border-radius: 20px;
								line-height: 40px;
							}

							&.outside {
								color: $ept-color-6-2;
							}

							&.disabled {
								color: $ept-color-6-3;
								cursor: not-allowed;
							}

							&.current {
								color: $ept-color-4;

								& > span {
									background-color: $ept-color-3;
								}
							}
						}
					}
				}
      }
    }
  }
}
