
.paper-time-picker {
	position: relative;
	width: $ept-width;
	height: ($ept-width + 80);

	& > .clock-container {
		width: 100%;
		height: 100%;
		padding: 80px 0 0;
		box-sizing: border-box;

		& > .header {
			width: 100%;
			height: 96px;
			margin: -80px 0 0;
			padding: 20px 0;
			border-radius: 2px 2px 0 0;
			background: $ept-color-7;
			box-sizing: border-box;

			& > span {
				height: 100%;
				margin: 0;
				padding: 0;
				float: right;
				font-style: lighter;
				line-height: 1;
				text-align: center;
				box-sizing: border-box;

				& > span {
					display: inline-block;
					height: 100%;
					margin: 0;
					background-color: none;
					color: $ept-color-4-1;
				}

				&.numbers-container {
					text-align: right;

					& > span {
						font-size: 55px;
						font-weight: lighter;

						&.number {
							cursor: pointer;
						}
					}
				}

				&.am-pm-container {
					width: 60px;
					margin: 0 20px 0 0;
					padding: 6px 0 0;

					& > .button {
						width: 40px;
						height: 24px;
						border-radius: 2px;
						font-size: 16px;
						font-weight: lighter;
						line-height: 24px;
						text-align: center;
						cursor: pointer;

						&.am,
						&.pm {
							margin: 0;
						}

						&.active {
							//background: #42ace1;
							color: $ept-color-4;
						}
					}
				}
			}
		}

		& > .outside-container {
			display: none;
			width: 100%;
			height: 100%;
			padding: 10px;
			float: left;
			box-sizing: border-box;

			& > h1 {
				color: #2e3e4f;
				font-size: 16px;
				text-align: center;
			}

			& > svg {
				pointer-events: none;

				.cls-dark-fill {
					fill: $ept-color-2;
				}

				.cls-bright-fill {
					fill: $ept-color-3;
				}

				.cls-bright-stroke {
					stroke: $ept-color-3;
				}

				.cls-cursor {
					cursor: pointer;
				}

				.cls-line {
					fill: none;
					stroke-miterlimit: 10;
					stroke-width: 2;
				}

				.cls-text {
					font-size: 12px;
					font-weight: lighter;
					line-height: 1;
					fill: $ept-color-6-1;
				}

				.cls-text-small {
					font-size: 11px;
					font-weight: lighter;
					line-height: 1;
					fill: $ept-color-6-1;
				}

				.cls-transparent {
					fill: transparent !important;
				}

				& > path {
					&.disabled {
						pointer-events: none;
					}
				}

				& > circle {
					.cls-2 {
						cursor: pointer;
					}
				}

				& > text {
					&.disabled {
						pointer-events: none;
						fill: $ept-color-6-2;
					}

					&.interior-white {
						fill: $ept-color-6 !important;
					}
				}

				& > g {
					& > text {
						&.interior-white {
							fill: $ept-color-6 !important;
						}

						&.disabled {
							pointer-events: none;
							fill: $ept-color-6-2;
						}
					}
				}
			}
		}
	}

	&.hours {
		& > .clock-container {
			& > .header {
				& > .numbers-container {
					& > .number {
						&.hours {
							//color: #42ace1;
							color: $ept-color-4;
						}
					}
				}
			}

			& > .outside-container {
				&.hours {
					display: block;

					& > svg {
						pointer-events: all;
					}
				}
			}
		}
	}

	&.minutes {
		& > .clock-container {
			& > .header {
				& > .numbers-container {
					& > .number {
						&.minutes {
							//color: #42ace1;
							color: $ept-color-4;
						}
					}
				}
			}

			& > .outside-container {
				&.minutes {
					display: block;

					& > svg {
						pointer-events: all;
					}
				}
			}
		}
	}
}
