
.paper-time-picker {
	position: relative;
	width: 250px;
	height: 310px;

	.clock-hour-header {
		width: 100%;
		height: 80px;
		margin-bottom: 15px;
		background-color: #f1f1f2;

		& > .date-container {
			& > .numbers-container {
				display: inline-block;
				width: 115px;
				height: 80px;
				margin-left: 70px;
				line-height: 100px;

				& > .hours-header {
					display: inline-block;
					font-size: 40px;
					cursor: pointer;

					&.active {
						color: #42ace1;
					}

					&.inactive {
						color: #8f8f8e;
					}
				}

				& > .colon {
					display: inline-block;
					color: #8f8f8e;
					font-size: 40px;
				}

				& > .minutes-header {
					display: inline-block;
					font-size: 40px;
					cursor: pointer;

					&.active {
						color: #42ace1;
					}

					&.inactive {
						color: #8f8f8e;
					}
				}
			}

			& > .am-pm-container {
				display: inline-block;
				width: 65px;
				height: 80px;
				margin: 0 auto;
				float: right;
				text-align: center;

				& > .am-button {
					display: inline-block;
					width: 40px;
					height: 20px;
					margin-top: 15px;
					border-radius: 5%;
					color: #8f8f8e;
					font-size: 14px;
					line-height: 20px;
					cursor: pointer;

					&.am-inactive {
						background-color: none;
						text-align: center;
					}

					&.am-active {
						background-color: #42ace1;
						color: white;
						text-align: center;
					}
				}

				& > .pm-button {
					display: inline-block;
					width: 40px;
					height: 20px;
					margin-top: 5px;
					border-radius: 5%;
					color: #8f8f8e;
					font-size: 14px;
					line-height: 20px;
					cursor: pointer;

					&.pm-inactive {
						background-color: none;
						text-align: center;
					}

					&.pm-active {
						background-color: #42ace1;
						color: white;
						text-align: center;
					}
				}
			}
		}
	}

	.clock-container {
		width: 100%;
		height: 100%;

		& > .outside-hours-container {
			width: 80%;
			height: 200px;
			margin: 0 10% 15px;
			float: left;

			& .inactive {
				display: none;
				pointer-events: none;
			}

			& .active {
				pointer-events: all;
			}

			& > h1 {
				color: #2e3e4f;
				font-size: 16px;
				text-align: center;
			}

			& > svg {
				& > circle {
					.cls-2 {
						cursor: pointer;
					}
				}

				& > text {
					&.disabled-hour {
						pointer-events: none;
						stroke: red;
					}

					&.interior-white {
						fill: white !important;
					}
				}

				& > g {
					& > text {
						&.interior-white {
							fill: white !important;
						}

						&.disabled-hour {
							pointer-events: none;
							stroke: red;
						}
					}
				}
			}
		}

		& > .outside-hours-container-bottom {
			width: 80%;
			height: 200px;
			margin: -215px 10% 15px;
			float: left;
			pointer-events: none;

			& .inactive {
				display: none;
				pointer-events: none;
			}

			& .active {
				pointer-events: all;
			}

			& > svg {
				& > path {
					&.disabled-section {
						pointer-events: none;
					}
				}

				& > circle {
					.cls-2 {
						cursor: pointer;
					}
				}

				& > text {
					&.interior-white {
						fill: white !important;
					}

					&.disabled-minute {
						pointer-events: none;
						stroke: red;
					}
				}

				& > g {
					& > text {
						&.interior-white {
							fill: white !important;
						}

						&.disabled-minute {
							pointer-events: none;
							stroke: red;
						}
					}
				}
			}
		}
	}
}
