
.time-picker {
    height: 285px;
    width: 250px;

    .clockHourHeader {
        width: 100%;
        height: 70px;
        margin-bottom: 10px;
        background-color: #f1f1f2;

        & > div.dateContainer {

            & > div.numbers-container {
                width: 100px;
                height: 70px;
                margin-left: 75px;
                line-height: 75px;
                display: inline-block;

                & > div.hours-header {
                    display: inline-block;
                    font-size: 40px;
                    cursor: pointer;

                    &.active {
                        color: #42ace1;
                    }

                    &.inactive {
                        color: #8f8f8e;
                    }
                }

                & > div.colon {
                    display: inline-block;
                    font-size: 40px;
                    color: #8f8f8e;
                }

                & > div.minutes-header {
                    display: inline-block;
                    font-size: 40px;
                    cursor: pointer;

                    &.active {
                        color: #42ace1;
                    }

                    &.inactive {
                        color: #8f8f8e;
                    }
                }
            }

            & > div.am-pm-container {
              width: 75px;
              height: 70px;
              float: right;
              margin: 0 auto;
              display: inline-block;
              text-align: center;

                & > div.am-button {
                    display: inline-block;
                    color: #8f8f8e;
                    cursor: pointer;
                    font-size: 14px;
                    border-radius: 5%;
                    height: 20px;
                    width: 40px;
                    line-height: 20px;
                    margin-top: 15px;

                    &.am-inactive {
                      text-align: center;
                      background-color:rgba(66, 172, 225, 0);
                    }

                    &.am-active {
                        text-align: center;
                        background-color:rgba(66, 172, 225, .5);
                    }
                }

                & > div.pm-button {
                    display: inline-block;
                    color: #8f8f8e;
                    cursor: pointer;
                    font-size: 14px;
                    border-radius: 5%;
                    height: 20px;
                    width: 40px;
                    line-height: 20px;
                    margin-top: 5px;

                    &.pm-inactive {
                      text-align: center;
                      background-color:rgba(66, 172, 225, 0);

                    }

                    &.pm-active {
                      text-align: center;
                      background-color:rgba(66, 172, 225, .5);
                    }
                }
            }
        }
    }

    .clock-container {
        width: 100%;
        height: 100%;

        & > .outside-hours-container {
            width: 80%;
            margin-left: 10%;
            margin-right: 10%;
            height: 200px;
            float: left;

            & .inactive {
                visibility: hidden;
                pointer-events: none;
            }

            & .active {
                visibility: visible;
            }

            & > h1 {
                color: #2E3E4F;
                font-size: 16px;
                text-align: center;
            }

            & > svg {

              & > line {

              }

              & > circle {
                .cls-2 {
                    cursor: pointer;
                }
              }

              & > text {
                &.disabled-hour {
                  pointer-events: none;
                  stroke: red;
                }
                &.interiorWhite {
                    fill: white !important;
                }
              }

              & > g {

                & > text {
                  &.interiorWhite {
                      fill: white !important;
                  }
                  &.disabled-hour {
                    pointer-events: none;
                    stroke: red;
                  }
                }
              }
            }
        }

        & > .outside-hours-container-bottom {
            width: 80%;
            margin-left: 10%;
            margin-right: 10%;
            height: 200px;
            float: left;
            margin-top: -200px;
            pointer-events: none;

            & .inactive {
                visibility: hidden;
            }

            & .active {
                visibility: visible;;
            }

            & > svg {

              & > path {
                &.disabled-section {
                  pointer-events: none;
                }
              }

              & > line {

              }

              & > circle {
                .cls-2 {
                    cursor: pointer;
                }
              }

              & > text {
                &.interiorWhite {
                    fill: white !important;
                }

                &.disabled-minute {
                  pointer-events: none;
                  stroke: red;
                }
              }

              & > g {

                & > text {
                  &.interiorWhite {
                      fill: white !important;
                  }

                  &.disabled-minute {
                    pointer-events: none;
                    stroke: red;
                  }
                }
              }
            }
        }
    }
}
