
// set this number to adjust picker size
$picker-width: 250px;

.paper-time-picker {
	position: relative;
	width: $picker-width;
	height: ($picker-width + 80);

	& > .clock-container {
		width: 100%;
		height: 100%;
		padding: 80px 0 0;
		box-sizing: border-box;

		& > .header {
			width: 100%;
			height: 80px;
			margin: -80px 0 0;
			padding: 20px 0;
			background-color: #f1f1f2;
			box-sizing: border-box;

			& > .numbers-container {
				width: 100%;
				height: 100%;
				padding: 0 70px 0 50px;
				float: left;
				line-height: 1;
				text-align: center;
				box-sizing: border-box;

				& > span {
					display: inline-block;
					height: 100%;
					color: #8f8f8e;
					font-size: 42px;

					&.number {
						cursor: pointer;
					}
				}
			}

			& > .am-pm-container {
				width: 60px;
				height: 100%;
				margin: 0 0 0 -70px;
				float: left;
				text-align: center;

				& > .button {
					display: inline-block;
					width: 40px;
					height: 20px;
					margin: 0;
					border-radius: 5%;
					background-color: none;
					color: #8f8f8e;
					font-size: 14px;
					line-height: 20px;
					text-align: center;
					cursor: pointer;

					&.am {
						margin: 0;
					}

					&.pm {
						margin: 0;
					}

					&.active {
						background-color: #42ace1;
						color: white;
					}
				}
			}
		}

		& > .outside-container {
			display: none;
			width: 100%;
			height: 100%;
			padding: 10px;
			float: left;
			box-sizing: border-box;

			& > h1 {
				color: #2e3e4f;
				font-size: 16px;
				text-align: center;
			}

			& > svg {
				pointer-events: none;

				& > path {
					&.disabled {
						pointer-events: none;
					}
				}

				& > circle {
					.cls-2 {
						cursor: pointer;
					}
				}

				& > text {
					&.disabled {
						pointer-events: none;
						stroke: #ccc;
						stroke-width: .5px;
					}

					&.interior-white {
						fill: white !important;
					}
				}

				& > g {
					& > text {
						&.interior-white {
							fill: white !important;
						}

						&.disabled {
							pointer-events: none;
							stroke: #ccc;
							stroke-width: .5px;
						}
					}
				}
			}
		}
	}

	&.hours {
		& > .clock-container {
			& > .header {
				& > .numbers-container {
					& > .number {
						&.hours {
							color: #42ace1;
						}
					}
				}
			}

			& > .outside-container {
				&.hours {
					display: block;

					& > svg {
						pointer-events: all;
					}
				}
			}
		}
	}

	&.minutes {
		& > .clock-container {
			& > .header {
				& > .numbers-container {
					& > .number {
						&.minutes {
							color: #42ace1;
						}
					}
				}
			}

			& > .outside-container {
				&.minutes {
					display: block;

					& > svg {
						pointer-events: all;
					}
				}
			}
		}
	}
}
