
//$dark-theme: true;

@import './../../../../app/styles/ember-date-time';

$header-color: #2d3e50;
$header-font-color: #a9b5bf;

$code-highlight-color: #f0f4f7;
$code-font-color: #666;

$title-font-color: #243442;

$border-color: #ccc;

$section-title-color: #4e4e4e;
$page-font-color: #8e8e8e;

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #fff;
	color: #333;
	font: normal 14px/1 Roboto, sans-serif;

	input {
		padding: 10px 15px;
		border: 1px solid #ccc;
		border-radius: 3px;
		outline: none;
		font-size: 13px;
		box-sizing: border-box;
	}

	& > div {
		width: 100%;
		height: 100%;

		& > .ember-date-time-picker-main {
			width: 100%;
			height: 100%;
			margin: 0 auto;

			& > div {

				&.component {
					width: 100%;
					margin: 0;
					padding: 70px 0;

					& > header {
						display: block;
						width: 100%;
						height: 70px;
						margin: -70px 0 0;
						background: #2d3e50;
						font-size: 25px;
						line-height: 70px;

						& > div {
							width: 100%;
							max-width: 1200px;
							height: 100%;
							margin: 0 auto;

							& > span {
								position: relative;
								margin: 0 5px 0 0;
								color: #fff;
								font-family: Orbitron;
								z-index: 1;

								&:nth-child(2n-2) {
									color: #fabd14;
									z-index: 2;
								}
							}
						}
          }

					& > div {
						width: 100%;
						max-width: 1200px;
						height: 100%;
						margin: 0 auto;
						padding: 30px 0 0;
						box-sizing: border-box;

						& > section {
							position: relative;
							width: 100%;
							margin: 0 0 50px;
							padding: 10px 40px 30px;
							//border-radius: 3px;
							//background: #efefef;
							//box-shadow: 1px 1px 10px -3px #999;
							box-sizing: border-box;

							&:after {
								display: block;
								position: absolute;
								bottom: -25px;
								left: 0;
								width: 100%;
								height: 1px;
								background: #333;
								content: '\00a0';
							}

							& > h1 {
								color: #30aeef;
								font-size: 24px;
								font-weight: normal;
							}

							& > h2 {
								margin: 15px 0 0;
								padding: 0 0 0 5px;
								color: #666;
								font-size: 14px;
								font-weight: normal;
								box-sizing: border-box;
							}

							& > h3 {
								margin: 30px 0 0;
								color: #999;
								font-size: 14px;
								font-weight: normal;
							}

							& > ul {
								display: table;
								width: 100%;
								margin: 0;
								padding: 5px 0;
								color: $page-font-color;
								list-style-type: none;

								& > li {
									display: table-row;
									width: 100%;
									color: #666;
									box-sizing: border-box;

									& > b {
										display: table-cell;
										width: 1%;
										padding: 5px 10px;
										//color: #b28900;
										color: #68a3b5;
										font-size: 15px;
										font-weight: bold;
									}

									& > i {
										display: table-cell;
										width: 1%;
										padding: 5px 10px;
										color: #999;
										font-size: 14px;
										font-weight: lighter;
									}

									& > span {
										display: table-cell;
										width: 80%;
										padding: 5px 10px;
									}
								}
							}

							& > code {
								display: inline-block;
								position: relative;
								width: 100%;
								margin: 10px 0 0;
								padding: 40px 20px;
								border: 1px solid #ccc;
								background: #f9f9f9;
								white-space: nowrap;
								overflow-y: auto;
								box-sizing: border-box;

								.indent {
									display: inline-block;
									margin: 0 0 0 20px;
								}
							}

							& > span {
								&.code-result {
									display: block;
									margin: 10px 0 0;
								}
							}
						}
					}
				}
			}
		}

		.pad-bottom {
			display: block;
			width: 100%;
			height: 500px;
		}
	}

	& > #ember-testing-container {
		position: fixed !important;
		right: 20px;
		bottom: 20px;
	}
}
