
.paper-datetime-picker {
	display: inline-block;
	position: relative;
	width: 100%;

	& > .main-container {
		& > .input-container {
			position: relative;
			width: 100%;
			min-width: 250px;
			height: 32px;
			padding: 0 10px;
			float: left;
			border: 1px solid #e1dfdf;
			border-radius: 3px;
			box-sizing: border-box;

			& > div {
				display: inline;
				height: 100%;
				padding: 0 30px 0 0;
				float: left;
				text-align: center;
				vertical-align: top;

				&:last-of-type {
					padding: 0;
				}

				& > .section {
					display: inline-block;
					width: 16px;
					height: 100%;
					float: left;

					& > input {
						width: 100%;
						height: 100%;
						padding: 0;
						float: left;
						border: 0;
						color: #727272;
						font-size: 12px;
						text-align: center;
						box-shadow: none !important;

						&:focus {
							outline: none;
						}
					}

					&.year {
						width: 32px;
					}

					&.meridean {
						width: 20px;
						padding: 0 0 0 5px;
					}
				}

				& > .slash {
					display: inline-block;
					width: 4px;
					height: 100%;
					margin-right: 2px;
					margin-left: 2px;
					float: left;
					color: #727272;
					font-size: 12px;
					line-height: 34px;
				}

				& > .colon {
					display: inline-block;
					width: 3px;
					height: 100%;
					margin-right: 2px;
					margin-left: 2px;
					float: left;
					font-size: 12px;
					line-height: 32px;
				}

				&.dash {
					display: inline-block;
					width: 5px;
					height: 100%;
					margin-right: 2px;
					margin-left: 5px;
					float: left;
					font-size: 12px;
					line-height: 32px;
				}

				& > .date-right-padding {
					width: calc(100% - 118px);
					height: 100%;
					float: left;
				}

				& > .right-padding {
					width: calc(100% - 250px);
					height: 100%;
					float: left;
					cursor: pointer;
				}

				//&.input-in-time {
				//	float: left;
				//	vertical-align: top;
				//	width: 100px;
				//	text-align: center;
				//	font-size: 16px;
				//	height: 32px;
				//}
			}

			&.invalid {
				border-color: #b7220f !important;
			}
		}

		& > .dialog-container {
			display: none;
			position: absolute;
			top: 40px;
			left: 25px;
			z-index: 50;

			&.show {
				display: block;
			}

			&.top {
				top: initial;
				bottom: 50px;
			}
		}
	}
}

@media only screen and (max-width: 500px) {
	.paper-datetime-picker {
		& > .main-container {
			& > .dialog-container {
				position: fixed !important;
				top: 50% !important;
				left: 50% !important;
				transform: translate(-50%, -50%) !important;
			}
		}
	}
}
