.paper-date-picker {
    height: 285px;
    width: 250px;

  & > div.calender-container {

    & > div.header-container {

      & > div.day-of-week {
        text-align: center;
        color: #8f8f8e;
        height: 25px;
        line-height: 25px;
        font-size: 13px;
      }

      & > div.month-container {
        height: 30px;
        line-height: 30px;
        width: 100%;
        text-align: center;

        & > div.subtract-month {
          cursor: pointer;
          display: inline-block;
          width: 0;
          height: 0;
          border-top: 6px solid transparent;
          border-bottom: 6px solid transparent;
          border-right:10px solid #2E3E4F;
          margin-right: 10px;
        }

        & > div.month {
          display: inline-block;
          font-size: 18px;
          height: 100%;
          width: 45px;
        }

        & > div.add-month {
          cursor: pointer;
          display: inline-block;
          width: 0;
          height: 0;
          border-top: 6px solid transparent;
          border-bottom: 6px solid transparent;
          border-left:10px solid #2E3E4F;
          margin-left: 10px;
        }
      }

      & > div.day-of-month {
        width: 100%;
        text-align: center;
        height: 50px;
        line-height: 50px;
        font-size: 60px;
      }

      & > div.year-container {
        height: 30px;
        line-height: 30px;
        width: 100%;
        text-align: center;

        & > div.subtract-year {
          cursor: pointer;
          display: inline-block;
          width: 0;
          height: 0;
          border-top: 6px solid transparent;
          border-bottom: 6px solid transparent;
          border-right:10px solid #2E3E4F;
          margin-right: 10px;
        }

        & > div.year {
          display: inline-block;
          font-size: 18px;
          height: 100%;
          width: 45px;
        }

        & > div.add-year {
          cursor: pointer;
          display: inline-block;
          width: 0;
          height: 0;
          border-top: 6px solid transparent;
          border-bottom: 6px solid transparent;
          border-left:10px solid #2E3E4F;
          margin-left: 10px;
        }
      }
    }
  }
}
