
.paper-date-range-picker {
	position: relative;
	width: 400px;
	height: 46px;
	margin: 0;
	padding: 0;
	float: left;
	z-index: 1000;

	.button {
		display: inline-block;
		padding: 11px 15px;
		border: 1px solid $ept-color-5;
		border-radius: 4px;
		outline: none;
		background: $ept-color-1;
		color: $ept-color-6-1;
		font: 14px/1 $ept-font-family;
		letter-spacing: 1px;
		text-align: center;
		text-decoration: none;
		cursor: pointer;

		&:hover {
			text-decoration: none;
		}

		&.blue {
			border-color: $ept-color-3;
			background: $ept-color-3;
			color: $ept-color-1;
		}

		&.text {
			border-color: transparent;
			background: transparent;

			&:hover {
				text-decoration: underline;
			}
		}

		&.select {
			position: relative;
			padding-right: 50px;
			padding-left: 10px;
			text-align: left;

			&:after {
				position: absolute;
				top: 16px;
				right: 10px;
				width: 0;
				height: 0;
				border: 5px solid transparent;
				border-top-color: $ept-color-6-1;
				content: '\00a0';
			}
		}

		&.arrow {
			& > span {
				width: 12px;
				height: 12px;
				float: left;
				transform: rotate(45deg);
				border: 2px solid $ept-color-6-1;
				cursor: pointer;
			}

			&.disabled {
				border-color: #ddd;
				background: #efefef;
				cursor: not-allowed;

				& > span {
					border-color: #ddd;
				}
			}

			&.left {
				padding-right: 10px;
				padding-left: 15px;

				& > span {
					border-top-color: transparent;
					border-right-color: transparent;
				}
			}

			&.right {
				padding-right: 15px;
				padding-left: 10px;

				& > span {
					border-bottom-color: transparent;
					border-left-color: transparent;
				}
			}
		}
	}

	& > .menu {
		width: 100%;
		height: 100%;
		cursor: initial;

		& > .select {
			margin-right: 58px;
			float: left;
		}

		& > .arrows {
			margin-left: -58px;
			padding: 0 0 0 10px;
			float: left;

			& > .arrow {
				margin: 0;

				&.left {
					border-radius: 4px 0 0 4px;
				}

				&.right {
					border-radius: 0 4px 4px 0;
				}
			}
		}

		& > .date {
			padding: 0 0 0 10px;
			float: left;
			color: $ept-color-6-2;
			font: 14px/46px $ept-font-family;

			&.stacked-range {
				height: 100%;
				padding: 0;

				& > h3 {
					width: 100%;
					height: 12px;
					margin-top: 1px;
					font: 12px/12px $ept-font-family;
					text-align: center;

					&.range {
						width: 45%;
						float: left;
					}

					&.day {
						height: 20px;
						font: 20px/20px $ept-font-family;
					}
				}

				& > span {
					width: 10%;
					height: 12px;
					margin-top: 1px;
					float: left;
					font: 12px/12px $ept-font-family;
					text-align: center;
					visibility: hidden;
				}

				& > .day + span {
					height: 20px;
					font: 20px/20px $ept-font-family;
					visibility: visible;
				}

				&.match {
					& > span {
						visibility: visible;
					}
				}
			}

			&.stacked {
				height: 100%;

				& > h3 {
					display: block;
					height: 0;
					font: 12px/0 $ept-font-family;
					text-align: center;
				}

				&.year {
					& > .year {
						height: 20px;
						margin-top: 14px;
						font: 16px/20px $ept-font-family;
					}
				}

				&.month {
					& > .month {
						height: 20px;
						margin-top: 8px;
						font: 18px/20px $ept-font-family;
					}

					& > .year {
						height: 12px;
						margin-top: 0;
						font: 13px/12px $ept-font-family;
					}

					&.day {
						& > .year {
							height: 12px;
							margin-top: 0;
							font: 12px/12px $ept-font-family;
						}

						& > .month {
							height: 12px;
							margin-top: 1px;
							font: 12px/12px $ept-font-family;
						}

						& > .day {
							height: 20px;
							font: 20px/20px $ept-font-family;
						}
					}
				}
			}
		}
	}

	& > .list {
		display: none;
		position: absolute;
		top: 55px;
		left: 0;
		padding: 10px 0;
		border: 1px solid $ept-color-5;
		border-radius: 4px;
		background: $ept-color-1;
		z-index: 10000;

		&.active {
			display: block;
		}

		& > li {
			min-width: 260px;
			padding: 10px 20px;
			font: 14px/1 $ept-font-family;
			cursor: pointer;

			&.custom {
				&.active {
					padding: 10px 20px 20px;
				}
			}

			&.active {
				color: $ept-color-3;
			}

			&.focus {
				background-color: aliceblue;
			}

			&.picker {
				display: none;
				position: relative;
				width: 300px;
				padding: 0;
				border-top: 1px solid $ept-color-6-3;
				cursor: initial;

				& > .header {
					display: inline-block;
					position: relative;
					width: 100%;
					height: 80px;
					padding: 22px 15px 18px;
					box-sizing: border-box;

					& > span {
						width: 10%;
						float: left;
						color: $ept-color-6-2;
						font: 14px/40px $ept-font-family;
						text-align: center;

						&:first-of-type {
							width: 45%;
							line-height: 1;
						}

						&:last-of-type {
							width: 45%;
							line-height: 1;
						}

						//&.state {
						//	& > input {
						//	}

						//	&.open {
						//		& > input {
						//		}
						//	}
						//}

						//&:last-of-type {
						//	&.open {
						//		& > input {
						//			border-color: $ept-color-7;
						//		}
						//	}
						//}
					}
				}

				& > .body {
					display: inline-block;
					width: 100%;
					height: 325px;
					padding: 0;
					border-top: 1px solid $ept-color-6-3;
					border-bottom: 1px solid $ept-color-6-3;
					box-sizing: border-box;

					& > .paper-date-picker {
						width: 100%;

						& > .calendar-container {
							& > .header-container {
								display: none;
							}
						}
					}
				}

				& > .footer {
					display: inline-block;
					width: 100%;
					height: 70px;
					padding: 20px 15px 10px;
					box-sizing: border-box;
				}

				&.active {
					display: inline-block;
				}
			}
		}
	}

	&.right {
		float: right;

		& > .list {
			right: 0;
			left: initial;
		}
	}

	&.large {
		.button {
			font-size: 16px;

			&.select {
				padding-top: 14px;
				padding-bottom: 14px;

				&:after {
					top: 20px;
				}
			}

			&.arrow {
				padding-top: 14px;
				padding-bottom: 14px;

				& > span {
					width: 12px;
					height: 12px;
				}
			}
		}
	}
}

@media screen and (max-width: 450px) {
	.paper-date-range-picker {
		display: inline-block;
		width: 100%;
		//height: 100px;

		& > .menu {
			& > .date {
				display: inline-block;
				//height: 50%;
				//margin: 0 auto;
				//float: none;

				&.stacked-range {
					width: 80px;

					& > h3 {
						&.day {
							font-size: 15px;
						}
					}

					& > .day + span {
						font-size: 17px;
					}
				}
			}
		}
	}
}
