
.clock-container {
    height: 280px;
    width: 500px;
    border: solid 1px black;

    & > .outside-hours-container {
        width: 50%;
        height: 100%;
        float: left;

        & > h1 {
            color: #2E3E4F;
            font-size: 16px;
            margin-left: 30px;
            margin-top: 24px;
        }

        & > .clock-hours {
          border-radius: 50%;
          background: #fff url(images/hours.svg) no-repeat center;
          background-size: 100%;
          height: 203px;
          position: relative;
          width: 203px;
          float: left;
          margin-left: 30px;

          & > .hours-container {

              & > .circle {
                  background: #48ADDF;
                  border-radius: 50%;
                  opacity: .45;
                  height: 12%;
                  left: 44.1%;
                  position: absolute;
                  top: 6%;
                //   bottom: 32%;
                  transform-origin: 50% 89px;
                  width: 12%;
                  cursor: -webkit-grab; cursor:-moz-grab;

                //   animation: circle 15s linear infinite;

              }

              & > .circle:active {
                  cursor: -webkit-grabbing; cursor:-moz-grabbing;
              }

              & > .hours {
                  background: #8F8F8E;
                  height: 32%;
                  left: 49.4%;
                  position: absolute;
                  top: 18%;
                  transform-origin: 50% 100%;
                  width: 1%;
                //   animation: circle 15s linear infinite;
                //   animation: rotate 60s infinite linear;
                }
            }
        }

        & > .clock-hours.simple:after {
            background: #000;
            border-radius: 50%;
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 5%;
            height: 5%;
            z-index: 10;
        }
    }

    & > .outside-minutes-container {
        width: 50%;
        height: 100%;
        float: left;

        & > .header-container {
            width: 50%;
            display: inline;
            float: left;

            & > h1 {
                color: #2E3E4F;
                font-size: 16px;
                margin-left: 10px;
                width: 50%;
                float: left;
                margin-top: 24px;
            }
        }


        & > .meridean-container {
            width: 50%;
            display: inline;
            float: right;
            margin-top: 15px;

            & > .am-pm {
                float: right;
                display: inline;
                height: 33px;
                width: 70px;
                margin-right: 20px;
                border-radius: 8px;

                & > .am {
                    width: 50%;
                    height: 100%;
                    float: left;
                    background-color: #F1F1F2;
                    color: #8F8F8E;
                    -webkit-border-top-left-radius: 5px;
                    -webkit-border-bottom-left-radius: 5px;
                    line-height: 33px;
                    text-align: center;
                    font-size: 13px;
                    cursor: pointer;
                }

                & > .pm {
                    width: 50%;
                    height: 100%;
                    float: right;
                    background-color: #48ADDF;
                    color: #FFFFFF;
                    -webkit-border-top-right-radius: 5px;
                    -webkit-border-bottom-right-radius: 5px;
                    line-height: 33px;
                    text-align: center;
                    font-size: 13px;
                    cursor: pointer;
                }
            }
        }

        & > .clock-minutes {
              border-radius: 50%;
              background: #fff url(images/minutes.svg) no-repeat center;
              background-size: 100%;
              height: 203px;
              position: relative;
              width: 203px;
              float: left;
              margin-left: 10px;

            & > .minutes-container {

                & > .circle {
                    background: #48ADDF;
                    border-radius: 50%;
                    opacity: .45;
                    height: 12%;
                    left: 44.1%;
                    position: absolute;
                    top: 6.9%;
                    transform-origin: 50% 89px;
                    width: 12%;
                    cursor: -webkit-grab; cursor:-moz-grab;
                    animation: circle 15s linear infinite;
                }

                & > .circle:active {
                    cursor: -webkit-grabbing; cursor:-moz-grabbing;
                }

                & > .hours {
                    // background: #8F8F8E;
                    background: black;
                    height: 65px;
                    left: 49.4%;
                    position: absolute;
                    top: 18%;
                    transform-origin: 50% 100%;
                    width: 1%;
                    animation: circle 15s linear infinite;
                  //   animation: rotate 60s infinite linear;
                }
            }
        }


        & > .clock-minutes.simple:after {
            background: #000;
            border-radius: 50%;
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 5%;
            height: 5%;
            z-index: 10;
        }
    }
}

@keyframes circle {
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
}

@keyframes inner-circle {
    from { transform:rotate(0deg); }
    to { transform:rotate(-360deg); }
}
