
.paper-datetime-picker {
  position: relative;

    & > div.inputContainer {
        width: 100%;
        min-width: 250px;
        border-width: 1px;
        border-color: #E1DFDF;
        border-style: solid;
        height: 32px;
        float: left;
        position: relative;

        &.invalid {
          border-color: #b7220f !important;
        }

        & > div.inputInDate {
          float: left;
            vertical-align: top;
            width: 150px;
            text-align: center;
            height: 100%;

            & > div.monthContainer {
                width: 23px;
                display: inline-block;
                float: left;
                height: 100%;
                text-align: right;
                margin-left: 6px;
                margin-right: 3px;

                & > input.month {
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    font-size: 12px;
                    height: 32px;
                    padding: 0;
                    border: none;
                    color: #727272;
                    box-shadow: none !important;
                }

                & > input.month:focus {
                    outline: none;
                }
            }

            & > div.dayContainer {
                width: 26px;
                display: inline-block;
                float: left;
                height: 100%;

                & > input.day {
                    width: 100%;
                    text-align: center;
                    font-size: 12px;
                    height: 32px;
                    padding: 0;
                    border: none;
                    float: left;
                    color: #727272;
                    box-shadow: none !important;
                }

                & > input.day:focus {
                    outline: none;
                }
            }

            & > div.yearContainer {
                width: 40px;
                display: inline-block;
                float: left;
                height: 100%;

                & > input.year {
                    width: 100%;
                    text-align: center;
                    font-size: 12px;
                    height: 32px;
                    padding: 0;
                    border: none;
                    margin-left: 3px;
                    color: #727272;
                    box-shadow: none !important;
                }

                & > input.year:focus {
                    outline: none;
                }
            }

            & div.monthSlash {
                width: 4px;
                float: left;
                display: inline-block;
                height: 100%;
                font-size: 12px;
                line-height: 34px;
                margin-left: 2px;
                margin-right: 2px;
                color: #727272;
            }

            & div.daySlash {
                width: 4px;
                float: left;
                display: inline-block;
                height: 100%;
                font-size: 12px;
                line-height: 34px;
                margin-left: 4px;
                margin-right: 2px;
                color: #727272;
            }
            & > div.date-right-padding {
              height: 100%;
              width: calc(100% - 118px);
              float: left;
            }
        }


        & > div.right-padding {
           height: 100%;
           width: calc(100% - 250px);
           float: left;
           cursor: pointer;
        }

        & > div.inputInTime {
            float: left;
            vertical-align: top;
            width: 100px;
            text-align: center;
            font-size: 16px;
            height: 32px;

            & > div.hourContainer {
                width: 23px;
                display: inline-block;
                float: left;
                height: 100%;
                text-align: right;
                margin-left: 2px;
                margin-right: 0px;

                & > input.hour {
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    font-size: 12px;
                    height: 32px;
                    padding: 0;
                    border: none;
                    color: #727272;
                    box-shadow: none !important;
                }

                & > input.hour:focus {
                    outline: none;
                }
            }

            & > div.minuteContainer {
                width: 23px;
                display: inline-block;
                float: left;
                height: 100%;
                text-align: right;

                & > input.minute {
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    font-size: 12px;
                    height: 32px;
                    padding: 0;
                    border: none;
                    color: #727272;
                    box-shadow: none !important;
                }

                & > input.minute:focus {
                    outline: none;
                }
            }

            & > div.merideanContainer {
                width: 30px;
                display: inline-block;
                float: left;
                height: 100%;
                text-align: right;
                margin-left: 1px;

                & > input.am-pm {
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    font-size: 12px;
                    height: 32px;
                    padding: 0;
                    border: none;
                    color: #727272;
                    box-shadow: none !important;
                }

                & > input.am-pm:focus {
                    outline: none;
                }
            }

            & div.timeColon {
                width: 2%;
                float: left;
                display: inline-block;
                height: 100%;
                font-size: 12px;
                line-height: 32px;
                margin-left: 2px;
                margin-right: 2px;
            }

            & div.dividingDash {
                width: 5px;
                float: left;
                display: inline-block;
                height: 100%;
                font-size: 12px;
                line-height: 32px;
                margin-left: 5px;
                margin-right: 2px;
            }
        }

      & > div.top-dialog-container {
        position: absolute;
        background-color: white;
        bottom: 50px;
        left: 25px;
        z-index: 50;
        display: block;

        &.removeDisplay {
          display: none;
        }

        &.calHeight {
          height: 400px;
        }

        &.timeHeight {
          height: 330px;
        }
      }

      & > div.bottom-dialog-container {
        position: absolute;
        background-color: white;
        top: 50px;
        left: 25px;
        z-index: 50;
        display: block;

        &.removeDisplay {
          display: none;
        }

        &.calHeight {
          height: 400px;
        }

        &.timeHeight {
          height: 330px;
        }
      }
    }
}

@media only screen and (max-width: 500px) {
  div.top-dialog-container {
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
  }

  div.bottom-dialog-container {
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
  }
}
