.cls-2 {
    cursor: pointer;
}

.interiorWhite {
    fill: white !important;
}
.clock-container {
    height: 300px;
    width: 500px;
    border: solid 1px black;

    & > .outside-hours-container {
        width: 45%;
        margin-left: 3%;
        margin-right: 2%;
        height: 100%;
        float: left;

        & > h1 {
            color: #2E3E4F;
            font-size: 16px;
            margin-left: 30px;
            margin-top: 24px;
        }
    }

    & > .outside-minutes-container {
        width: 45%;
        margin-left: 2%;
        margin-right: 3%;
        height: 100%;
        float: left;

        & > .header-container {
            width: 50%;
            display: inline;
            float: left;

            & > h1 {
                color: #2E3E4F;
                font-size: 16px;
                margin-left: 10px;
                width: 50%;
                float: left;
                margin-top: 24px;
            }
        }


        & > .meridean-container {
            width: 50%;
            display: inline;
            float: right;
            margin-top: 15px;

            & > .am-pm {
                float: right;
                display: inline;
                height: 33px;
                width: 70px;
                margin-right: 20px;
                border-radius: 8px;

                & > .am {
                    width: 50%;
                    height: 100%;
                    float: left;
                    background-color: #F1F1F2;
                    color: #8F8F8E;
                    -webkit-border-top-left-radius: 5px;
                    -webkit-border-bottom-left-radius: 5px;
                    line-height: 33px;
                    text-align: center;
                    font-size: 13px;
                    cursor: pointer;
                }

                & > .pm {
                    width: 50%;
                    height: 100%;
                    float: right;
                    background-color: #48ADDF;
                    color: #FFFFFF;
                    -webkit-border-top-right-radius: 5px;
                    -webkit-border-bottom-right-radius: 5px;
                    line-height: 33px;
                    text-align: center;
                    font-size: 13px;
                    cursor: pointer;
                }
            }
        }
    }
}
