
<div class="main-container">
	{{private/date-input
		selectRound=stateManager.selectRound
		timestamp=stateManager.timestamp
		max=stateManager.maxDate
		min=stateManager.minDate
		format=stateManager.format
		name=inputDataName
		defaultFocus=__defaultFocus
		allowTab=allowTab
		ontabkey=(action 'tabAction')
		onfocus=(action 'focusAction')
		onblur=(action 'closeAction')
		onescape=(action 'closeAction' bubbles=false)
		oncursor=(action 'stateChange')
		onchange=(action 'dateChange')
		onsubmit=(action 'applyChange')}}

	<div class="dialog-container{{if stateManager.isOpen ' show'}}{{if stateManager.isTop ' top'}}">
		{{#if stateManager.isOpen}}
			{{private/date-time-menu stateManager=stateManager onClose=(action 'closeAction') onUpdate=(action 'update')}}
		{{/if}}
	</div>
</div>
