<div class="clock-container">
    <div class="outside-hours-container">
        <h1>HOURS</h1>
        <svg id="clocks-hour-svg" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 210 210">
            <defs>
                <style>.cls-1{fill:#f1f1f2;}.cls-2{fill:#8f8f8e;}.cls-3{fill:none;stroke:#8f8f8e;stroke-miterlimit:10;}.cls-4{fill:#42ace1;}.cls-5{font-size:14px;cursor: pointer;}.cls-5,.cls-6{fill:#2e3f50;font-family:Proxima Nova;}.cls-6{font-size:16px;}</style>
            </defs>
            <title>hours</title>


            <circle class="cls-1" cx="105" cy="105" r="101.5"/>
            <circle class="cls-2" cx="104.75" cy="105.21" r="3.83"/>

            <line id="line01" class="cls-3" x1="138.88" y1="45.9" x2="104.75" y2="105"/>
            <line id="line02" class="cls-3" x1="163.86" y1="70.89" x2="104.75" y2="105"/>
            <line id="line03" class="cls-3" x1="173" y1="105.02" x2="104.75" y2="105"/>
            <line id="line04" class="cls-3" x1="163.84" y1="139.15" x2="104.75" y2="105"/>
            <line id="line05" class="cls-3" x1="138.85" y1="164.12" x2="104.75" y2="105"/>
            <line id="line06" class="cls-3" x1="104.71" y1="173.25" x2="104.75" y2="105"/>
            <line id="line07" class="cls-3" x1="70.59" y1="164.09" x2="104.75" y2="105"/>
            <line id="line08" class="cls-3" x1="45.62" y1="139.08" x2="104.75" y2="105"/>
            <line id="line09" class="cls-3" x1="36.5" y1="104.95" x2="104.75" y2="105"/>
            <line id="line10" class="cls-3" x1="45.67" y1="70.82" x2="104.75" y2="105"/>
            <line id="line11" class="cls-3" x1="70.68" y1="45.86" x2="104.75" y2="105"/>
            <line id="line12" class="cls-3" x1="104.75" y1="36.75" x2="104.75" y2="105"/>

            <circle id="circle01" class="cls-4" cx="143.31" cy="38.42" r="12" transform="translate(38.39 143.32) rotate(-60)"/>
            <circle id="circle02" class="cls-4" cx="171.54" cy="66.65" r="12" transform="translate(-10.34 94.7) rotate(-30)"/>
            <circle id="circle03" class="cls-4" cx="181.87" cy="105.21" r="12"/>
            <circle id="circle04" class="cls-4" cx="171.54" cy="143.77" r="12" transform="matrix(0.5, -0.87, 0.87, 0.5, -38.74, 220.45)"/>
            <circle id="circle05" class="cls-4" cx="143.31" cy="172" r="12" transform="translate(-66.8 94.7) rotate(-30)"/>
            <circle id="circle06" class="cls-4" cx="104.75" cy="182.33" r="12"/>
            <circle id="circle07" class="cls-4" cx="66.19" cy="172" r="12" transform="matrix(0.5, -0.87, 0.87, 0.5, -115.86, 143.32)"/>
            <circle id="circle08" class="cls-4" cx="37.96" cy="143.77" r="12" transform="translate(-66.8 38.24) rotate(-30)"/>
            <circle id="circle09" class="cls-4" cx="27.62" cy="105.21" r="12"/>
            <circle id="circle10" class="cls-4" cx="37.96" cy="66.65" r="12" transform="matrix(0.5, -0.87, 0.87, 0.5, -38.74, 66.2)"/>
            <circle id="circle11" class="cls-4" cx="66.19" cy="38.42" r="12" transform="translate(-10.34 38.24) rotate(-30)"/>
            <circle id="circle12" class="cls-4" cx="104.75" cy="28.08" r="12"/>

            <text id="hour01" class="cls-5" transform="translate(136.78 42.91)">01</text>
            <text id="hour02" class="cls-5" transform="translate(165 71.14)">02</text>
            <text id="hour03" class="cls-5" transform="translate(175 109.7)">03</text>
            <text id="hour04" class="cls-5" transform="translate(165 148.26)">04</text>
            <text id="hour05" class="cls-5" transform="translate(136 176.49)">05</text>
            <text id="hour06" class="cls-5" transform="translate(97.5 186.82)">06</text>
            <text id="hour07" class="cls-5" transform="translate(60 176.49)">07</text>
            <text id="hour08" class="cls-6" transform="translate(30 149)">08</text>
            <text id="hour09" class="cls-5" transform="translate(21 109.7)">09</text>
            <text id="hour10" class="cls-5" transform="translate(30.5 71.14)">10</text>
            <text id="hour11" class="cls-5" transform="translate(59 42.91)">11</text>
            <text id="hour12" class="cls-5" transform="translate(97.26 32.57)">12</text>
        </svg>

    </div>

    <div class="outside-minutes-container">
        <div class="header-container">
            <h1>MINUTES</h1>
        </div>
        <div class="meridean-container">
            <div class="am-pm">
                <div class="am" {{action 'amClicked'}}>AM</div>
                <div class="pm" {{action 'pmClicked'}}>PM</div>
            </div>
        </div>
        <div class="clock-minutes">
            <div class="minutes-container">
                <div class="hours"></div>
                <div class="circle" {{action 'drag'}}></div>
            </div>
        </div>
    </div>
</div>
