<div class="paper-new-time-entry">
    <div class="inputContainer">
        <div class="inputHeader">
            <div class="headerInDate">IN DATE</div>
            <div class="headerInTime">IN TIME</div>
            <div class="headerOutDate">OUT DATE</div>
            <div class="headerOutTime">OUT TIME</div>
        </div>
        <div class="inputBody">
            <div class="inputInDate">
                <div class="monthContainer">
                    <input class="month" type="text" maxlength="2"/>/
                </div>
                <div class="dayContainer">
                    <input class="day" type="text" maxlength="2"/> /
                </div>
                <div class="yearContainer">
                    <input class="year" type="text" maxlength="4"/>
                </div>
            </div>
             <input type="text" class="inputInTime" placeholder="in time"/>
             <input type="text" class="inputOutDate" placeholder="out date"/>
             <input type="text" class="inputOutTime" placeholder="out time"/>
        </div>
    </div>
</div>

{{paper-time-picker}}
