<div class="paper-datetime-picker-main">

  <div class="component">
    <header>paper-datetime-picker</header>

    <section>
      <p>Time and Date Picker</p>
      Properties:
      <ul>
        <li>timestamp - unix timestamp in milliseconds. value to set the date and time to. required.</li>
        <li>minDate - unix timestamp in milliseconds. minimum date and time allowed to be selected. optional.</li>
        <li>maxDate - unix timestamp in milliseconds. maximum date and time allowed to be selected. optional.</li>
      </ul>
      Code:
      <code>\{{paper-datetime-picker timestamp=1473182071000 minDate=1472750071000 maxDate=1473614071000}}</code>
      <br>
      Result:
      <span class="code-result">
          {{!-- {{paper-datetime-picker timestamp=1473182071000 minDate=1472750071000 maxDate=1473614071000}} --}}
          {{paper-datetime-picker timestamp=1473182071000}}
      </span>
    </section>
  </div>

</div>
